body{
background:linear-gradient(
to right,
#dbeafe,
#bfdbfe
);

font-family:Arial,sans-serif;

margin:0;
padding:0;
}

.container{
width:90%;
margin:auto;
}

.section{

background:white;

padding:30px;

margin-top:25px;

border-radius:15px;

box-shadow:
0 4px 12px rgba(0,0,0,0.1);

}

h1{

text-align:center;

font-weight:bold;

margin-bottom:30px;

}

.card{

border:none!important;

border-radius:15px!important;

transition:.3s;
}

.card:hover{

transform:translateY(-5px);

}

footer{

background:#0d6efd;

color:white;

padding:20px;

text-align:center;

margin-top:20px;

border-radius:15px;
}